<!doctype html>
<html lang="en" class="h-100" data-bs-theme="dark" xmlns:th="https://thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div th:replace="fragments/menu :: menu"></div>

    <main class="px-3">
        <h1>Engines Available</h1>
        <p class="lead">This project intend to be a little demonstration on how to use Spring-boot with Thymeleaf</p>

        <table class="table mt-large">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Engine</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="engine : ${engines}">
                <th scope="row" th:text="${engine.id}"/>
                <td th:text="${engine.name}"/>
            </tr>
            </tbody>
        </table>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
</div>


</body>
</html>
