<!doctype html>
<html lang="en" class="h-100" data-bs-theme="dark" xmlns:th="https://thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div th:replace="fragments/menu :: menu"></div>

    <main class="px-3">
        <h1>Register Car</h1>
        <p class="lead">This project intend to be a little demonstration on how to use Spring-boot with Thymeleaf</p>

        <form class="row g-3 needs-validation mt-large" action="#" th:action="@{/register-car}" method="post"
              th:object="${car}">
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Car name</label>
                <input th:field="*{name}" type="text" class="form-control" id="validationCustom01" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Car Year</label>
                <input th:field="*{year}" type="number" minlength="4" maxlength="4" class="form-control"
                       id="validationCustom02" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4">
                <label for="validationCustom04" class="form-label">Car Engine</label>
                <select th:field="*{engine}" class="form-select" id="validationCustom04" required>
                    <option selected value="0">Choose...</option>
                    <option th:each="engine : ${engines}" th:value="${engine.id}" th:utext="${engine.name}"/>
                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>

            <div class="col-12 mt-large">
                <button class="btn btn-primary" type="submit">Register Car</button>
            </div>
        </form>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
</div>


</body>
</html>
